@charset "utf-8";
/* CSS Document */
.container {
  max-width: 960px !important;
}
.background {
	position: relative;
	width: 100%;
	z-index: 1;
}
.drivetrain {
	position: absolute;
	top: 40%;
	left: 25%;
	z-index: 3;
	max-width: 50%;
}
.frame {
	position: absolute;
	top: 41.95%;
	left: 31.8%;
	z-index: 2;
	max-width: 38.5%;
}
.chosecolor {
	position: relative;
}
.colorbox {
	float: left;
	margin: 10px;
}
.color {
	width: 90%;
}
