@charset "utf-8";
/* CSS Document */
.container {
  max-width: 960px !important;
}
.background {
	position: relative;
	width: 100%;
	z-index: 1;
}
.drivetrain {
	position: absolute;
	top: 40%;
	left: 25%;
	z-index: 3;
	max-width: 50%;
}
.frame {
  position: absolute;
  /*top: 400px;
  left: 100px;*/
  z-index: 2;
  margin: 0;
  position: absolute;
  top: 490px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 700px;
}
.chosecolor {
	position: relative;
}
.colorbox {
	float: left;
	margin: 10px;
}
.color {
	width: 90%;
}
