@charset "utf-8";
/* CSS Document */
.background {
	position: absolute;
	width: 960px;
	z-index: 1;
}
.drivetrain {
	position: absolute;
	top: 350px;
	left: 300px;
	z-index: 3;
	width: 600px;
}
.frame {
	position: absolute;
	top: 370px;
	left: 380px;
	z-index: 2;
	width: 465px;
}
.chosecolor {
	position: absolute;
	top: 700px;
}
.colorbox {
	float: left;
	margin: 10px;
}
.color {
	width: 80px;
}