<h1>Forside</h1>

<!--Andet-->
<h1>Bikes</h1>
<button type="button" class="btn btn-primary " (click)="add()">Add</button>
<table class="table table-bordered">
	<thead>
		<tr>
			<th>Frame Color</th>
			<th>accessory</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let bike of bikes | async">
			<td>{{ bike.framecolor }}</td>
			<td>{{ bike.accessory }}</td>
			<td>
				<a [routerLink]="['/add', bike.$key]">
					<span class="glyphicon glyphicon-edit" aria-hidden="true">Ændre</span>
				</a>
			</td>
			<td>
				<a>
					<span (click)="delete(bike)" class="glyphicon glyphicon-remove" aria-hidden="true">Slet</span>
				</a>
			</td>
		</tr>
	</tbody>
</table>
