<h1>Bikes</h1>
<button class="btn btn-primary" (click)="add()">Add</button>
<table class="table table-bordered">
	<thead>
		<tr>
			<th>Frame Color</th>
            <th>wheels</th>
            <th>Headset Front</th>
            <th>Headset Rear</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let bike of bikes | async">
			<td>{{ bike.wheels }}</td>
            <td>{{ bike.framecolor }}</td>
            <td>{{ bike.frontheadset }}</td>
            <td>{{ bike.rearheadset }}</td>
			<td>                
				<a [routerLink]="['/add', bike.$key]">
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
			</td>
			<td>
                <a>
                    <i (click)="delete(bike)" class="glyphicon glyphicon-remove"></i>
                </a>
            </td>
		</tr>
	</tbody>
</table>

<div class="box black"></div>
<div class="box green"> </div>
<div class="box blue"> </div>

<i class="box pink">
</i>

<style>
.box{
	width:100px;
	height:100px;
}
 
 .empty{
	 background: pink;  
 }
 
.black{
	
    background: black;
}
.green{
	background:#0f0;
}
.blue{
	background:#00f;
}
</style>
