<h1>{{ title }}</h1>
<form [formGroup]="form" (ngSubmit)="submit()">
    

    <div class="form-group">
        <label for="framecolor">Frame Color</label>
       <input [(ngModel)]="bike.framecolor" type="text" class="form-control" 
                formControlName="framecolor" value={{(item|async)?.framecolor}}>
        <div *ngIf="form.controls.framecolor.touched && 
                !form.controls.framecolor.valid" class="alert alert-danger">
                framecolor is required
        </div>
    </div>

    <div class="form-group">
        <label for="wheels">wheels</label>
       <input [(ngModel)]="bike.wheels" type="text" class="form-control" 
                formControlName="wheels" value={{(item|async)?.wheels}}>
        <div *ngIf="form.controls.wheels.touched && 
                !form.controls.wheels.valid" class="alert alert-danger">
            wheels is required
        </div>
    </div>

    <div class="form-group">
        <label for="frontheadset">Front Headset</label>
        <input [(ngModel)]="bike.frontheadset" type="text" class="form-control" 
                formControlName="frontheadset" value={{(item|async)?.frontheadset}}>
        <div *ngIf="form.controls.frontheadset.touched && 
                !form.controls.frontheadset.valid" class="alert alert-danger">
            Front Headset is required
        </div>  
    </div>
    
    <div class="form-group">
        <label for="rearheadset">Rear Headset</label>
        <input [(ngModel)]="bike.rearheadset" type="text" class="form-control" 
                formControlName="rearheadset" value={{(item|async)?.rearheadset}}>
        <div *ngIf="form.controls.rearheadset.touched && 
                !form.controls.rearheadset.valid" class="alert alert-danger">
            Rear Headset is required
        </div>  
    </div>
   <button [disabled]="!form.valid" class="btn btn-primary" type="submit">{{ title }}</button>
</form>
