<h1>{{ title }}</h1>
<form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-group">
        <label for="Framecolor">Frame Color</label>
        <input [(ngModel)]="bike.Framecolor" type="text" class="form-control" 
                formControlName="Framecolor" value={{(item|async)?.Framecolor}}>
        <div *ngIf="form.controls.Framecolor.touched && 
                !form.controls.Framecolor.valid" class="alert alert-danger">
            Frame Color is required
        </div>  
    </div>
    <div class="form-group">
        <label for="Wheels">Wheels</label>
       <input [(ngModel)]="bike.Wheels" class="form-control" 
                formControlName="Wheels" value={{(item|async)?.Wheels}}>
        <div *ngIf="form.controls.Wheels.touched && form.controls.Wheels.errors">        
    	     <div *ngIf="form.controls.Wheels.errors.required" class="alert alert-danger">
                Wheels is required.
            </div>
        </div>       
    </div>
    <div class="form-group">
        <label for="FrontHeadset">Front Headset</label>
        <input [(ngModel)]="bike.FrontHeadset" type="text" class="form-control" 
                formControlName="FrontHeadset" value={{(item|async)?.FrontHeadset}}>
        <div *ngIf="form.controls.FrontHeadset.touched && 
                !form.controls.FrontHeadset.valid" class="alert alert-danger">
            Front Headset is required
        </div>  
    </div>
    <div class="form-group">
        <label for="RearHeadset">Rear Headset</label>
        <input [(ngModel)]="bike.RearHeadset" type="text" class="form-control" 
                formControlName="RearHeadset" value={{(item|async)?.RearHeadset}}>
        <div *ngIf="form.controls.RearHeadset.touched && 
                !form.controls.RearHeadset.valid" class="alert alert-danger">
            Rear Headset is required
        </div>  
    </div>
   <button [disabled]="!form.valid" class="btn btn-primary" type="submit">{{ title }}</button>
</form>
