<h1>Bikes</h1>
<button class="btn btn-primary" (click)="add()">Add</button>
<table class="table table-bordered">
	<thead>
		<tr>
			<th>Frame Color</th>
			<th>wheels</th>
			<th>Headset Front</th>
			<th>Headset Rear</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let bike of bikes | async">
			<td>{{ bike.wheels }}</td>
			<td>{{ bike.framecolor }}</td>
			<td>{{ bike.frontheadset }}</td>
			<td>{{ bike.rearheadset }}</td>
			<td>
				<a [routerLink]="['/add', bike.$key]">
					<i class="glyphicon glyphicon-edit"></i>
				</a>
			</td>
			<td>
				<a>
					<i (click)="delete(bike)" class="glyphicon glyphicon-remove"></i>
				</a>
			</td>
		</tr>
	</tbody>
</table>


<div class="container">
	<div class="row accessories">
		<label class="col-sm-4" >
			<input type="checkbox" id="convoybox" [checked]="accessoriesSave" (change)="onAccessoriesSave(convoybox.checked)"/>
			<span class="seatButton">Convoy Box</span>
		</label>
		<label class="col-sm-4">
			<input type="checkbox" id="plasticbox" [checked]="accessoriesSave" (change)="onAccessoriesSave(plasticbox.checked)" />
			<span class="seatButton">Plastic Box</span>
		</label>
		<label class="col-sm-4" >
			<input type="checkbox" id="alubox" [checked]="accessoriesSave" (change)="onAccessoriesSave(alubox.checked)" />
			<span class="seatButton">Alu Box</span>
		</label>
		<label class="col-sm-4" >
			<input type="checkbox" id="canopy" [checked]="accessoriesSave" (change)="onAccessoriesSave(canopy.checked)" />
			<span class="seatButton">Canopy</span>
		</label>
		<label class="col-sm-4" >
			<input type="checkbox" id="damperkit" [checked]="accessoriesSave" (change)="onAccessoriesSave(damperkit.checked)" />
			<span class="seatButton">Damper Kit</span>
		</label>
		<label class="col-sm-4" >
			<input type="checkbox" id="foldableseat" [checked]="accessoriesSave" (change)="onAccessoriesSave(foldableseat.checked)" />
			<span class="seatButton">Foldable Seat</span>
		</label>
		<label class="col-sm-4" >
			<input type="checkbox" id="billboard" [checked]="accessoriesSave" (change)="onAccessoriesSave(billboard.checked)" />
			<span class="seatButton">Billboard</span>
		</label>
		<label class="col-sm-4" >
			<input type="checkbox" id="bbx" [checked]="accessoriesSave" (change)="onAccessoriesSave(bbx.checked)" />
			<span class="seatButton">BBX</span>
		</label>
		<label class="col-sm-4" >
			<input type="checkbox" id="honeycompboard" [checked]="accessoriesSave" (change)="onAccessoriesSave(honeycompboard.checked)" />
			<span class="seatButton">Honeycomp Board</span>
		</label>
	</div>
</div>


<script>


</script>

<style>
	.accessories input {
		display: none;
	}

	.accessories .seatButton {
		padding: 5px;
		border: 1px solid green;
		background: white;
		cursor: pointer;
	}

	.accessories input:checked+.seatButton {
		background: green;
	}
</style>