<h1>{{ title }}</h1>

<form [formGroup]="form" (ngSubmit)="submit()">
    <div class="container">
        <div id="chooseColor">
            <div class="row chosecolor">
                <div class="col-xs-3 col-sm-1 colorbox">
                    <button id="bluebirdFrame" onClick="changeColor('Bluebird');colours();" class="color"></button>
                    <p>Blue Bird</p>
                    <p>Pris: 50.000</p>
                </div>
                <div class="col-xs-3 col-sm-1 colorbox">
                    <button id="classicFrame" onClick="changeColor('Classic');colours();" class="color"></button>
                    <p>Classic</p>
                    <p>Pris: 50.000</p>
                </div>
                <div class="col-xs-3 col-sm-1 colorbox">
                    <button id="clockworkFrame" onClick="changeColor('Clockwork');colours();" class="color"></button>
                    <p>Clockwork</p>
                    <p>Pris: 50.000</p>
                </div>
                <div class="col-xs-3 col-sm-1 colorbox">
                    <button id="lizzardFrame" onClick="changeColor('Lizzard-king');colours();" class="color"></button>
                    <p>Lizzard</p>
                    <p>Pris: 50.000</p>
                </div>
                <div class="col-xs-3 col-sm-1 colorbox">
                    <button id="raceFrame" onClick="changeColor('Race');colours();" class="color"></button>
                    <p>Race</p>
                    <p>Pris: 50.000</p>
                </div>
                <div class="col-xs-3 col-sm-1 colorbox">
                    <button id="milkFrame" onClick="changeColor('Milk');colours();" class="color"></button>
                    <p>Milk</p>
                    <p>Pris: 50.000</p>
                </div>
                <div class="col-xs-3 col-sm-1 colorbox">
                    <button id="pepperFrame" onClick="changeColor('Pepper');colours();" class="color"></button>
                    <p>Pepper</p>
                    <p>Pris: 50.000</p>
                </div>
                <div class="col-xs-3 col-sm-1 colorbox">
                    <button id="submarineFrame" onClick="changeColor('Submarine');colours();" class="color"></button>
                    <p>Submarine</p>
                    <p>Pris: 50.000</p>
                </div>
            </div>
        </div>

        <div class="whitespace"></div>
        <br>
        
        <div id="chooseAccessory">
            <div class="row accessories">
        
                <label class="col-sm-4 assebox" >
                    <input onClick="changeaccessory('-convoy-box.png');accessory();" type="checkbox" id="convoybox" />
                    <span class="seatButton">Convoy Box</span>
                </label>

                <label class="col-sm-4 assebox">
                    <input onClick="changeaccessory('-plastic-box.png');accessory();" type="checkbox" id="plasticbox" />
                    <span class="seatButton">Plastic Box</span>
                </label>

                <label class="col-sm-4 assebox" >
                    <input onClick="changeaccessory('-alubox.png');accessory();" type="checkbox" id="alubox" />
                    <span class="seatButton">Alu Box</span>
                </label>

                <label class="col-sm-4 assebox" >
                    <input onClick="changeaccessory('-canopy.png');accessory();" type="checkbox" id="canopy" />
                    <span class="seatButton">Canopy</span>
                </label>

                <label class="col-sm-4 assebox" >
                    <input type="checkbox" id="damperkit" onclick="accessory();" />
                    <span class="seatButton">Damper Kit</span>
                </label>

                <label class="col-sm-4" >
                    <input onClick="changeaccessory('-child-seat.png');accessory();" type="checkbox" id="foldableseat" />
                    <span class="seatButton">Foldable child seat</span>
                </label>

                <label class="col-sm-4" >
                    <input type="checkbox" id="honeycompboard" onclick="accessory();" />
                    <span class="seatButton">Honeycomp Board</span>
                </label>

                <!--BBX section-->
                <label class="col-sm-4" >
                    <input onClick="changeaccessory('-bbx-black.png');accessory();" type="checkbox" id="billboard" />
                    <span class="seatButton">BBX-Black</span>
                </label>
                
                <label class="col-sm-4" >
                    <input onClick="changeaccessory('-bbx-blue.png');accessory();" type="checkbox" id="billboard" />
                    <span class="seatButton">BBX-Blue</span>
                </label>

                <label class="col-sm-4" >
                    <input onClick="changeaccessory('-bbx-green.png');accessory();" type="checkbox" id="billboard"  />
                    <span class="seatButton">BBX-Green</span>
                </label>

                <label class="col-sm-4" >
                    <input onClick="changeaccessory('-bbx-orange.png');accessory();" type="checkbox" id="billboard"  />
                    <span class="seatButton">BBX-Orange</span>
                </label>

                <label class="col-sm-4" >
                    <input onClick="changeaccessory('-bbx-red.png');accessory();" type="checkbox" id="billboard"  />
                    <span class="seatButton">BBX-Red</span>
                </label>

                <label class="col-sm-4" >
                    <input onClick="changeaccessory('-bbx-white.png');accessory();" type="checkbox" id="billboard"  />
                    <span class="seatButton">BBX-White</span>
                </label>

                <!--Billboard section-->
                <label class="col-sm-4" >
                    <input onClick="changeaccessory('-billboard-black.png');accessory();" type="checkbox" id="bbx"  />
                    <span class="seatButton">Billboard-Black</span>
                </label>

                <label class="col-sm-4" >
                    <input onClick="changeaccessory('-billboard-blue.png');accessory();" type="checkbox" id="bbx"  />
                    <span class="seatButton">Billboard-Blue</span>
                </label>
            
                <label class="col-sm-4" >
                    <input onClick="changeaccessory('-billboard-green.png');accessory();" type="checkbox" id="bbx"  />
                    <span class="seatButton">Billboard-Green</span>
                </label>

                <label class="col-sm-4" >
                    <input onClick="changeaccessory('-billboard-dark-green.png');accessory();" type="checkbox" id="bbx"  />
                    <span class="seatButton">Billboard-Dark Green</span>
                </label>

                <label class="col-sm-4" >
                    <input onClick="changeaccessory('-billboard-orange.png');accessory();" type="checkbox" id="bbx"  />
                    <span class="seatButton">Billboard-Orange</span>
                </label>

                <label class="col-sm-4" >
                    <input onClick="changeaccessory('-billboard-red.png');accessory();" type="checkbox" id="bbx"  />
                    <span class="seatButton">Billboard-Red</span>
                </label>

                <label class="col-sm-4" >
                    <input onClick="changeaccessory('-billboard-white.png');accessory();" type="checkbox" id="bbx"  />
                    <span class="seatButton">Billboard-White</span>
                </label>

                <label class="col-sm-4" >
                    <input onClick="changeaccessory('-billboard-yellow.png');accessory();" type="checkbox" id="bbx"  />
                    <span class="seatButton">Billboard-Yellow</span>
                </label>	
            </div>
        </div>

        
        <div class="whitespace"></div>
        <br>

        <div id="showReceipt">
            <div class="container receipt">
                <p>Her er din kvittering</p>
            </div>
        </div>
</div>


</form>
